{
  "env": { "browser": true, "es2021": true },
  "extends": [
    "standard-with-typescript",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest",
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "jsx-a11y",
    "react-hooks",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/space-before-function-paren": "off",
    "jsx-quotes": ["error", "prefer-double"],
    "no-unused-vars": [
      "error",
      { "args": "after-used", "ignoreRestSiblings": false, "vars": "all" }
    ],
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "quote-props": "off",
    "react/self-closing-comp": ["error", { "component": true, "html": true }],
    "react/react-in-jsx-scope": 0,
    "space-before-function-paren": "off"
  },
  "settings": { "react": { "version": "detect" } }
}
